.elementor-6 .elementor-element.elementor-element-e850072>.elementor-container {
    max-width: 722px;
}

.elementor-6 .elementor-element.elementor-element-e850072>.elementor-background-overlay {
    opacity: 0.5;
}

.elementor-6 .elementor-element.elementor-element-e850072 {
    padding: 24px 0px 24px 0px;
}

.elementor-bc-flex-widget .elementor-6 .elementor-element.elementor-element-9bfe082.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-6 .elementor-element.elementor-element-9bfe082.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-6 .elementor-element.elementor-element-cc381d7 {
    text-align: left;
}

.elementor-6 .elementor-element.elementor-element-cc381d7 img {
    width: 100%;
    max-width: 100%;
    height: 71px;
    object-fit: contain;
    object-position: center center;
    border-radius: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-6 .elementor-element.elementor-element-e67c4bf.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-6 .elementor-element.elementor-element-e67c4bf.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-bc-flex-widget .elementor-6 .elementor-element.elementor-element-37a2419.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-6 .elementor-element.elementor-element-37a2419.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-6 .elementor-element.elementor-element-7da0c67 .elementor-widget-container {
    text-align: center;
}

.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button .premium-button-text-icon-wrapper span {
    color: #FFFFFF;
}

.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button,
.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button.premium-button-style2-shutinhor:before,
.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button.premium-button-style2-shutinver:before,
.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button-style5-radialin:before,
.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button-style5-rectin:before {
    background-color: #313aff;
}

.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button {
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-color: #fff;
    border-radius: 12px;
}

.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button:hover .premium-button-text-icon-wrapper span,
.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button-line6::after {
    /* color: #FFFFFF; */
}

.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button-none:hover,
.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button-style8:hover,
.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button-style1:before,
.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button-style2-shutouthor:before,
.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button-style2-shutoutver:before,
.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button-style2-shutinhor,
.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button-style2-shutinver,
.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button-style2-dshutinhor:before,
.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button-style2-dshutinver:before,
.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button-style2-scshutouthor:before,
.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button-style2-scshutoutver:before,
.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button-style3-after:hover,
.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button-style3-before:hover,
.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button-style4-icon-wrapper,
.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button-style5-radialin,
.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button-style5-radialout:before,
.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button-style5-rectin,
.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button-style5-rectout:before,
.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button-style6-bg,
.elementor-6 .elementor-element.elementor-element-7da0c67 .premium-button-style6:before {
   background: #313aff;
}

.elementor-6 .elementor-element.elementor-element-83b3c3c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 128px 0px 96px 0px;
}

.elementor-6 .elementor-element.elementor-element-83b3c3c>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-e52acfe>.elementor-element-populated {
    margin: 150px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-6 .elementor-element.elementor-element-021282c {
    text-align: left;
}

.elementor-6 .elementor-element.elementor-element-021282c .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
}

.elementor-6 .elementor-element.elementor-element-f5981e2 .elementor-heading-title {
    color: #fff;
    font-size: 33px;
    line-height: 34px;
    letter-spacing: 1.9px;
}

.elementor-6 .elementor-element.elementor-element-93933cc>.elementor-element-populated {
    padding: 0px 0px 0px 80px;
}

.elementor-6 .elementor-element.elementor-element-6ecd7e1 {
    z-index: 1;
}

.elementor-6 .elementor-element.elementor-element-4026a14 img {
    width: 85%;
    height: 453px;
    object-fit: contain;
    object-position: center center;
}

.elementor-6 .elementor-element.elementor-element-5bd49b2 {
    margin-top: -80px;
    margin-bottom: 0px;
}

.elementor-6 .elementor-element.elementor-element-e87ef7e:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-6 .elementor-element.elementor-element-e87ef7e>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF00;
}

.elementor-6 .elementor-element.elementor-element-e87ef7e>.elementor-element-populated {
    /* border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #fff; */
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 40px 24px 40px;
}

.elementor-6 .elementor-element.elementor-element-e87ef7e>.elementor-element-populated,
.elementor-6 .elementor-element.elementor-element-e87ef7e>.elementor-element-populated>.elementor-background-overlay,
.elementor-6 .elementor-element.elementor-element-e87ef7e>.elementor-background-slideshow {
    border-radius: 8px 8px 8px 8px;
}

.elementor-6 .elementor-element.elementor-element-e87ef7e>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-d5b542c .ekit-double-btn.ekit-double-btn-one {
    background-color: #1E50FF00;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    line-height: 32px;
    border-style: solid;
    border-color: #fff;
    border-radius: 8px 8px 8px 8px;
    /* box-shadow: 0px 0px 10px 0px #fff; */
    padding: 8px 10px 8px 10px;
  
}

.elementor-6 .elementor-element.elementor-element-d5b542c .ekit-double-btn.ekit-double-btn-two {
    background-color: #02010100;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    line-height: 32px;
    border-style: solid;
    border-color: #fff;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0px 0px 10px 0px #fff;
    padding: 8px 40px 8px 40px;
}

.elementor-6 .elementor-element.elementor-element-d5b542c .ekit_double_button {
    width: 120%;
}

.elementor-6 .elementor-element.elementor-element-d5b542c .ekit-double-btn:not(:last-child) {
    margin-right: 16px;
}

.elementor-6 .elementor-element.elementor-element-d5b542c .ekit-double-btn.ekit-double-btn-one>i {
    padding-right: 8px;
}

.elementor-6 .elementor-element.elementor-element-d5b542c .ekit-double-btn.ekit-double-btn-one>svg {
    margin-right: 8px;
}

.elementor-6 .elementor-element.elementor-element-d5b542c .ekit-double-btn.ekit-double-btn-two>i {
    padding-right: 8px;
}

.elementor-6 .elementor-element.elementor-element-d5b542c .ekit-double-btn.ekit-double-btn-two>svg {
    margin-right: 8px;
}

.elementor-6 .elementor-element.elementor-element-d5b542c .ekit-double-btn.ekit-double-btn-one svg path {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.elementor-6 .elementor-element.elementor-element-d5b542c .ekit-double-btn.ekit-double-btn-one:hover {
    color: #FFFFFF;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0px 0px 10px 6px #fff;
}

.elementor-6 .elementor-element.elementor-element-d5b542c .ekit-double-btn.ekit-double-btn-one:hover svg path {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.elementor-6 .elementor-element.elementor-element-d5b542c .ekit-double-btn.ekit-double-btn-two svg path {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.elementor-6 .elementor-element.elementor-element-d5b542c .ekit-double-btn.ekit-double-btn-two:hover {
    color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #fff;
    box-shadow: 0px 0px 10px 6px #fff;
}

.elementor-6 .elementor-element.elementor-element-d5b542c .ekit-double-btn.ekit-double-btn-two:hover svg path {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.elementor-6 .elementor-element.elementor-element-712593f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 128px 0px 48px 0px;
}

.elementor-6 .elementor-element.elementor-element-712593f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-2a3f6e2>.elementor-background-overlay {
    background: linear-gradient( transparent, #313aff);
    /* opacity: 0.62; */
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-2a3f6e2>.elementor-container {
    /* max-width: 1006px; */
    padding: 0 0 0 0px;
}

.elementor-6 .elementor-element.elementor-element-2a3f6e2 {
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-color: #fff;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-2a3f6e2,
.elementor-6 .elementor-element.elementor-element-2a3f6e2>.elementor-background-overlay {
    border-radius: 20px 20px 20px 20px;
}

.elementor-6 .elementor-element.elementor-element-c7ac234>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-2db2c78 {
    text-align: left;
}

.elementor-6 .elementor-element.elementor-element-2db2c78 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 43px;
    font-weight: 700;
    line-height: 32px;
}

.elementor-6 .elementor-element.elementor-element-11f96da2 .premium-prefix-text,
.elementor-6 .elementor-element.elementor-element-11f96da2 .premium-suffix-text {
    display: inline;
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
}

.elementor-6 .elementor-element.elementor-element-11f96da2 .premium-atext__headline {
    text-align: left;
}

.elementor-6 .elementor-element.elementor-element-11f96da2 .premium-atext__headline,
.elementor-6 .elementor-element.elementor-element-11f96da2 .premium-atext__text svg g>text {
    font-family: "Roboto", Sans-serif;
    font-size: 64px;
    font-weight: 600;
}

.elementor-6 .elementor-element.elementor-element-11f96da2 .premium-atext__text {
    color:#313aff;
    --pa-atext-fc: #ff00ee;
    --pa-atext-tc: #ff0000;
    --pa-atext-foc: #00ff11;
    -webkit-text-stroke: 0.5px white;
}

.elementor-6 .elementor-element.elementor-element-11f96da2 .premium-fancy-svg-text .premium-fancy-list-items,
.elementor-6 .elementor-element.elementor-element-11f96da2 .text {
    fill: #fff;
}

.elementor-6 .elementor-element.elementor-element-11f96da2 .premium-atext__text,
.elementor-6 .elementor-element.elementor-element-11f96da2 .premium-atext__pattern .premium-atext__text::after {
    --pa-atext-sc: #313aff;
}

.elementor-6 .elementor-element.elementor-element-11f96da2 .premium-prefix-text {
    color: #313aff;
}

.elementor-6 .elementor-element.elementor-element-11f96da2 .premium-suffix-text {
    color: #FFFFFF;
}

.elementor-6 .elementor-element.elementor-element-63a0090 {
    text-align: justify;
    color: #FFFFFF;
    font-size: calc(12px + 0.4vw);
    line-height: calc(12px + 0.4vw);
}

.elementor-6 .elementor-element.elementor-element-409181d .elementor-button {
    background-color: #23212100;
    fill: #FFFFFF;
    color: #FFFFFF;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0px 0px 10px 5px #fff;
}

.elementor-6 .elementor-element.elementor-element-7de09cb>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-6 .elementor-element.elementor-element-7de09cb>.elementor-element-populated {
    margin: 30px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-6 .elementor-element.elementor-element-cb6155e>.elementor-widget-container {
    padding: 0px 0px 30px 0px;
}

.elementor-6 .elementor-element.elementor-element-cb6155e img {
    width: 66%;
}

.elementor-6 .elementor-element.elementor-element-698363b>.elementor-widget-container {
    padding: 0px 0px 30px 0px;
}

.elementor-6 .elementor-element.elementor-element-698363b img {
    width: 43%;
}

.elementor-6 .elementor-element.elementor-element-f04022a>.elementor-widget-container {
    padding: 0px 0px 30px 0px;
}

.elementor-6 .elementor-element.elementor-element-f04022a img {
    width: 43%;
}

.elementor-6 .elementor-element.elementor-element-8ade8c2>.elementor-widget-container {
    padding: 0px 0px 30px 0px;
}

.elementor-6 .elementor-element.elementor-element-8ade8c2 img {
    width: 50%;
}

.elementor-6 .elementor-element.elementor-element-56242cf>.elementor-background-overlay {
    /* background: linear-gradient(transparent, #313bff89, #313aff); */
    /* background: linear-gradient( transparent, transparent,#313aff, #313aff); */
    opacity: 01;
    background: black;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    background: linear-gradient(transparent , transparent,  #313bffb5, #313aff );
    /* background: linear-gradient(transparent , transparent, #313aff, #313aff, transparent, transparent, #313aff ); */


}

.elementor-6 .elementor-element.elementor-element-56242cf {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 48px 0px 96px 0px;
}

.elementor-6 .elementor-element.elementor-element-dd8ce65>.elementor-element-populated {
    margin: 100px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-6 .elementor-element.elementor-element-e12444d {
    text-align: left;
}

.elementor-6 .elementor-element.elementor-element-e12444d .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 43px;
    font-weight: 700;
    line-height: 32px;
}

.elementor-6 .elementor-element.elementor-element-f1b6413 .premium-prefix-text,
.elementor-6 .elementor-element.elementor-element-f1b6413 .premium-suffix-text {
    display: inline;
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
}

.elementor-6 .elementor-element.elementor-element-f1b6413 .premium-atext__headline {
    text-align: left;
}

.elementor-6 .elementor-element.elementor-element-f1b6413 .premium-atext__headline,
.elementor-6 .elementor-element.elementor-element-f1b6413 .premium-atext__text svg g>text {
    font-family: "Roboto", Sans-serif;
    font-size: 64px;
    font-weight: 600;
}

.elementor-6 .elementor-element.elementor-element-f1b6413 .premium-atext__text {
    color:#313aff;
    --pa-atext-fc: #ff00ee;
    --pa-atext-tc: #ff0000;
    --pa-atext-foc: #00ff11;
    -webkit-text-stroke: 0.5px white;

}

.elementor-6 .elementor-element.elementor-element-f1b6413 .premium-fancy-svg-text .premium-fancy-list-items,
.elementor-6 .elementor-element.elementor-element-f1b6413 .text {
    fill: #fff;
}

.elementor-6 .elementor-element.elementor-element-f1b6413 .premium-atext__text,
.elementor-6 .elementor-element.elementor-element-f1b6413 .premium-atext__pattern .premium-atext__text::after {
    --pa-atext-sc: #313aff;
}

.elementor-6 .elementor-element.elementor-element-f1b6413 .premium-prefix-text {
    color: #FFFFFF;
}

.elementor-6 .elementor-element.elementor-element-f1b6413 .premium-suffix-text {
    color: #FFFFFF;
}

.elementor-6 .elementor-element.elementor-element-7afa30d .elementor-widget-container {
    text-align: left;
}

.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button .premium-button-text-icon-wrapper span {
    color: #FFFFFF;
}

.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button,
.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button.premium-button-style2-shutinhor:before,
.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button.premium-button-style2-shutinver:before,
.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button-style5-radialin:before,
.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button-style5-rectin:before {
    background-color: #313aff;
}

.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button {
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-color: #fff;
    border-radius: 12px;
}

.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button:hover .premium-button-text-icon-wrapper span,
.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button-line6::after {
    color: #FFFFFF;
}

.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button-none:hover,
.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button-style8:hover,
.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button-style1:before,
.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button-style2-shutouthor:before,
.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button-style2-shutoutver:before,
.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button-style2-shutinhor,
.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button-style2-shutinver,
.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button-style2-dshutinhor:before,
.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button-style2-dshutinver:before,
.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button-style2-scshutouthor:before,
.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button-style2-scshutoutver:before,
.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button-style3-after:hover,
.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button-style3-before:hover,
.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button-style4-icon-wrapper,
.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button-style5-radialin,
.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button-style5-radialout:before,
.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button-style5-rectin,
.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button-style5-rectout:before,
.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button-style6-bg,
.elementor-6 .elementor-element.elementor-element-7afa30d .premium-button-style6:before {
    background-color: #313aff;

}

.elementor-6 .elementor-element.elementor-element-54a4e28>.elementor-element-populated {
    margin: 30px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-6 .elementor-element.elementor-element-548b2a3 {
    width: var(--container-widget-width, 424px);
    max-width: 424px;
    --container-widget-width: 424px;
    --container-widget-flex-grow: 0;
}

.elementor-6 .elementor-element.elementor-element-548b2a3>.elementor-widget-container {
    margin: 0px 0px 8px 0px;
    padding: 16px 16px 16px 16px;
    border-style: solid;
    border-color: #fff;
    border-radius: 8px 8px 8px 8px;
    
}

.elementor-6 .elementor-element.elementor-element-548b2a3:hover .elementor-widget-container {
    border-style: solid;
    border-color: #fff;
     /* box-shadow: 0px 0px 10px 6px #fff; */
}

.elementor-6 .elementor-element.elementor-element-548b2a3 .elementor-image-box-wrapper {
    text-align: justify;
}

.elementor-6 .elementor-element.elementor-element-548b2a3 .elementor-image-box-title {
    margin-bottom: 8px;
    color: #fff;
    font-family: "Roboto", Sans-serif;
    font-size: calc(20px + 1vw)!important;
    font-weight: 600;
}

.elementor-image-box-title {
    font-size: calc(20px + 1vw)!important;
}

 .elementor-image-box-description {
    font-size: calc(10px + 0.5vw)!important;
    line-height: calc(10px + 0.5vw)!important;
 }

.elementor-6 .elementor-element.elementor-element-548b2a3 .elementor-image-box-description {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
}

.elementor-6 .elementor-element.elementor-element-8d354f1 {
    width: var(--container-widget-width, 408.525px);
    max-width: 408.525px;
    --container-widget-width: 408.525px;
    --container-widget-flex-grow: 0;
}

.elementor-6 .elementor-element.elementor-element-8d354f1>.elementor-widget-container {
    margin: 30px -30px 8px 30px;
    padding: 16px 16px 16px 16px;
    border-style: solid;
    border-color: #fff;
    border-radius: 8px 8px 8px 8px;
}

.elementor-6 .elementor-element.elementor-element-8d354f1.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-6 .elementor-element.elementor-element-8d354f1:hover .elementor-widget-container {
    border-style: solid;
    /* box-shadow: 0px 0px 10px 7px #fff; */
}

.elementor-6 .elementor-element.elementor-element-8d354f1 .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-6 .elementor-element.elementor-element-8d354f1 .elementor-image-box-title {
    margin-bottom: 0px;
    color: #fff;
}

.elementor-6 .elementor-element.elementor-element-8d354f1 .elementor-image-box-description {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
}

.elementor-6 .elementor-element.elementor-element-5eeca70 {
    width: var(--container-widget-width, 424px);
    max-width: 424px;
    --container-widget-width: 424px;
    --container-widget-flex-grow: 0;
}

.elementor-6 .elementor-element.elementor-element-5eeca70>.elementor-widget-container {
    margin: 30px -60px 0px 60px;
    padding: 16px 16px 16px 16px;
    border-style: solid;
    border-color: #fff;
    border-radius: 8px 8px 8px 8px;
}

.elementor-6 .elementor-element.elementor-element-5eeca70:hover .elementor-widget-container {
    border-style: solid;
    border-color: #fff;
    /* box-shadow: 0px 0px 10px 10px #fff; */
}

.elementor-6 .elementor-element.elementor-element-5eeca70 .elementor-image-box-wrapper {
    text-align: left;
}

.elementor-6 .elementor-element.elementor-element-5eeca70 .elementor-image-box-title {
    margin-bottom: 0px;
    color: #fff;
}

.elementor-6 .elementor-element.elementor-element-5eeca70 .elementor-image-box-description {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
}

.elementor-6 .elementor-element.elementor-element-b2138ff {
    border-style: solid;
    border-width: 3px 0px 3px 0px;
    border-color: #fff;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 24px 72px 24px 72px;
}

.elementor-6 .elementor-element.elementor-element-b2138ff>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-d5f006e.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-6 .elementor-element.elementor-element-efd8991 {
    text-align: center;
}

.elementor-6 .elementor-element.elementor-element-efd8991 .elementor-heading-title {
    color: #fff;
}

.elementor-6 .elementor-element.elementor-element-f8fc998.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-6 .elementor-element.elementor-element-d916aae {
    text-align: center;
}

.elementor-6 .elementor-element.elementor-element-d916aae .elementor-heading-title {
    color: #fff;
}

.elementor-6 .elementor-element.elementor-element-32d23b5.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-6 .elementor-element.elementor-element-9483098 {
    text-align: center;
}

.elementor-6 .elementor-element.elementor-element-9483098 .elementor-heading-title {
    color: #fff;
}

.elementor-6 .elementor-element.elementor-element-ffb880b.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-6 .elementor-element.elementor-element-37941c4 {
    text-align: center;
}

.elementor-6 .elementor-element.elementor-element-37941c4 .elementor-heading-title {
    color: #fff;
}

body.elementor-page-6:not(.elementor-motion-effects-element-type-background),
body.elementor-page-6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

@media(max-width:1024px) {
    .elementor-6 .elementor-element.elementor-element-e850072 {
        padding: 24px 40px 24px 40px;
    }

    .elementor-6 .elementor-element.elementor-element-83b3c3c {
        padding: 112px 40px 64px 40px;
    }

    .elementor-6 .elementor-element.elementor-element-021282c>.elementor-widget-container {
        padding: 0px 40px 0px 40px;
    }

    .elementor-6 .elementor-element.elementor-element-021282c {
        text-align: center;
    }

    .elementor-6 .elementor-element.elementor-element-f5981e2 .elementor-heading-title {
        font-size: 40px;
        line-height: 56px;
    }

    .elementor-6 .elementor-element.elementor-element-93933cc>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 40px;
    }

    .elementor-6 .elementor-element.elementor-element-4026a14 img {
        height: 312px;
    }

    .elementor-6 .elementor-element.elementor-element-5bd49b2 {
        margin-top: -96px;
        margin-bottom: 0px;
    }

    .elementor-6 .elementor-element.elementor-element-e87ef7e>.elementor-element-populated {
        padding: 120px 24px 24px 24px;
    }

    .elementor-6 .elementor-element.elementor-element-d5b542c .ekit_double_button {
        width: 80%;
    }

    .elementor-6 .elementor-element.elementor-element-712593f {
        padding: 112px 40px 32px 40px;
    }

    .elementor-6 .elementor-element.elementor-element-c7ac234>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-6 .elementor-element.elementor-element-2db2c78>.elementor-widget-container {
        padding: 0px 40px 0px 40px;
    }

    .elementor-6 .elementor-element.elementor-element-2db2c78 {
        text-align: center;
    }

    .elementor-6 .elementor-element.elementor-element-63a0090>.elementor-widget-container {
        padding: 0px 40px 0px 40px;
    }

    .elementor-6 .elementor-element.elementor-element-56242cf {
        padding: 32px 40px 64px 40px;
    }

    .elementor-6 .elementor-element.elementor-element-dd8ce65.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-6 .elementor-element.elementor-element-dd8ce65>.elementor-element-populated {
        margin: 24px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-6 .elementor-element.elementor-element-e12444d>.elementor-widget-container {
        padding: 0px 40px 0px 40px;
    }

    .elementor-6 .elementor-element.elementor-element-e12444d {
        text-align: center;
    }

    .elementor-bc-flex-widget .elementor-6 .elementor-element.elementor-element-54a4e28.elementor-column .elementor-widget-wrap {
        align-items: center;
    }

    .elementor-6 .elementor-element.elementor-element-54a4e28.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }

    .elementor-6 .elementor-element.elementor-element-54a4e28.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }

    .elementor-6 .elementor-element.elementor-element-548b2a3 {
        width: var(--container-widget-width, 424px);
        max-width: 424px;
        --container-widget-width: 424px;
        --container-widget-flex-grow: 0;
        align-self: center;
    }

    .elementor-6 .elementor-element.elementor-element-548b2a3>.elementor-widget-container {
        margin: 0px 0px 8px 0px;
    }

    .elementor-6 .elementor-element.elementor-element-8d354f1>.elementor-widget-container {
        margin: 8px -120px 8px 120px;
    }

    .elementor-6 .elementor-element.elementor-element-5eeca70>.elementor-widget-container {
        margin: 8px -240px 0px 240px;
    }

    .elementor-6 .elementor-element.elementor-element-b2138ff {
        padding: 24px 40px 24px 40px;
    }

    .elementor-6 .elementor-element.elementor-element-efd8991 .elementor-heading-title {
        font-size: 16px;
        line-height: 32px;
    }

    .elementor-6 .elementor-element.elementor-element-d916aae .elementor-heading-title {
        font-size: 16px;
        line-height: 32px;
    }

    .elementor-6 .elementor-element.elementor-element-9483098 .elementor-heading-title {
        font-size: 16px;
        line-height: 32px;
    }

    .elementor-6 .elementor-element.elementor-element-37941c4 .elementor-heading-title {
        font-size: 16px;
        line-height: 32px;
    }
}

@media(max-width:767px) {

    .gif {
        width: 150px!important;
    }

    .elementor-6 .elementor-element.elementor-element-56242cf>.elementor-background-overlay {
        background: linear-gradient(transparent , transparent, transparent,  #313bffa0, transparent, #313bff94 ,#313aff , #313aff );
        opacity: 1;
    }

    .elementor-6 .elementor-element.elementor-element-63a0090 {
        text-align: justify;
        color: #FFFFFF;
        font-size: calc(12px + 1vw);
        line-height: calc(12px + 1vw);
    }
    .elementor-6 .elementor-element.elementor-element-e850072 {
        padding: 16px 16px 16px 16px;
    }

    .elementor-6 .elementor-element.elementor-element-9bfe082 {
        width: 50%;
    }

    .elementor-6 .elementor-element.elementor-element-e67c4bf {
        width: 50%;
    }

    .elementor-6 .elementor-element.elementor-element-37a2419 {
        width: 100%;
    }

    .elementor-6 .elementor-element.elementor-element-37a2419>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-6 .elementor-element.elementor-element-83b3c3c {
        padding: 88px 16px 48px 16px;
    }

    .elementor-6 .elementor-element.elementor-element-021282c .elementor-heading-title {
        font-size: 39px;
    }

    .elementor-6 .elementor-element.elementor-element-f5981e2 {
        text-align: center;
    }

    .elementor-6 .elementor-element.elementor-element-f5981e2 .elementor-heading-title {
        font-size: 26px;
        line-height: 36px;
    }

    .elementor-6 .elementor-element.elementor-element-93933cc>.elementor-element-populated {
        padding: 16px 0px 0px 0px;
    }

    .elementor-6 .elementor-element.elementor-element-e87ef7e>.elementor-element-populated {
        padding: 120px 16px 8px 16px;
    }

    .elementor-6 .elementor-element.elementor-element-d5b542c>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-6 .elementor-element.elementor-element-d5b542c .ekit_double_button {
        width: 100%;
    }

    .elementor-6 .elementor-element.elementor-element-712593f {
        padding: 88px 16px 0px 16px;
    }

    .elementor-6 .elementor-element.elementor-element-11f96da2 .premium-atext__headline {
        text-align: center;
    }

    .elementor-6 .elementor-element.elementor-element-11f96da2 .premium-atext__headline,
    .elementor-6 .elementor-element.elementor-element-11f96da2 .premium-atext__text svg g>text {
        font-size: 54px;
    }

    .elementor-6 .elementor-element.elementor-element-63a0090>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-6 .elementor-element.elementor-element-63a0090 {
        text-align: justify;
    }

    .elementor-6 .elementor-element.elementor-element-409181d>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-6 .elementor-element.elementor-element-cb6155e img {
        width: 56%;
    }

    .elementor-6 .elementor-element.elementor-element-56242cf {
        padding: 48px 16px 48px 16px;
    }

    .elementor-bc-flex-widget .elementor-6 .elementor-element.elementor-element-dd8ce65.elementor-column .elementor-widget-wrap {
        align-items: center;
    }

    .elementor-6 .elementor-element.elementor-element-dd8ce65.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }

    .elementor-6 .elementor-element.elementor-element-dd8ce65>.elementor-element-populated {
        margin: 16px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-6 .elementor-element.elementor-element-e12444d>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-6 .elementor-element.elementor-element-e12444d {
        text-align: center;
    }

    .elementor-6 .elementor-element.elementor-element-f1b6413 .premium-atext__headline {
        text-align: center;
    }

    .elementor-6 .elementor-element.elementor-element-f1b6413 .premium-atext__headline,
    .elementor-6 .elementor-element.elementor-element-f1b6413 .premium-atext__text svg g>text {
        font-size: 54px;
    }

    .elementor-6 .elementor-element.elementor-element-7afa30d .elementor-widget-container {
        text-align: center;
    }

    .elementor-6 .elementor-element.elementor-element-548b2a3 .elementor-image-box-wrapper {
        text-align: left;
    }

    .elementor-6 .elementor-element.elementor-element-8d354f1 {
        width: var(--container-widget-width, 306.525px);
        max-width: 306.525px;
        --container-widget-width: 306.525px;
        --container-widget-flex-grow: 0;
       
        
    }

    .elementor-6 .elementor-element.elementor-element-8d354f1>.elementor-widget-container {
        margin: 8px 0px 8px 0px;
    }

    .elementor-6 .elementor-element.elementor-element-8d354f1 .elementor-image-box-wrapper {
        text-align: left;
    }

    .elementor-6 .elementor-element.elementor-element-5eeca70>.elementor-widget-container {
        margin: 8px 0px 0px 0px;
    }

    .elementor-6 .elementor-element.elementor-element-5eeca70 .elementor-image-box-wrapper {
        text-align: left;
    }

    .elementor-6 .elementor-element.elementor-element-b2138ff {
        padding: 24px 16px 24px 16px;
    }

    .elementor-6 .elementor-element.elementor-element-d5f006e {
        width: 50%;
    }

    .elementor-6 .elementor-element.elementor-element-efd8991 .elementor-heading-title {
        font-size: 24px;
    }

    .elementor-6 .elementor-element.elementor-element-f8fc998 {
        width: 50%;
    }

    .elementor-6 .elementor-element.elementor-element-d916aae .elementor-heading-title {
        font-size: 24px;
    }

    .elementor-6 .elementor-element.elementor-element-32d23b5 {
        width: 50%;
    }

    .elementor-6 .elementor-element.elementor-element-32d23b5>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-6 .elementor-element.elementor-element-9483098 .elementor-heading-title {
        font-size: 24px;
    }

    .elementor-6 .elementor-element.elementor-element-ffb880b {
        width: 50%;
    }

    .elementor-6 .elementor-element.elementor-element-ffb880b>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-6 .elementor-element.elementor-element-37941c4 .elementor-heading-title {
        font-size: 24px;
    }
}

@media(min-width:768px) {

    .elementor-6 .elementor-element.elementor-element-2a3f6e2>.elementor-container {
        padding-left: 20px;
    }
    .elementor-6 .elementor-element.elementor-element-9bfe082 {
        width: 26.439%;
    }

    .elementor-6 .elementor-element.elementor-element-e67c4bf {
        width: 42.891%;
    }

    .elementor-6 .elementor-element.elementor-element-37a2419 {
        width: 30%;
    }

    .elementor-6 .elementor-element.elementor-element-e52acfe {
        width: 46%;
    }

    .elementor-6 .elementor-element.elementor-element-93933cc {
        width: 54%;
    }

    .elementor-6 .elementor-element.elementor-element-4eae54c {
        width: 100%;
    }

    .elementor-6 .elementor-element.elementor-element-dd8ce65 {
        width: 57.304%;
    }

    .elementor-6 .elementor-element.elementor-element-54a4e28 {
        width: 42.653%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-6 .elementor-element.elementor-element-9bfe082 {
        width: 18%;
    }

    .elementor-6 .elementor-element.elementor-element-e67c4bf {
        width: 56%;
    }

    .elementor-6 .elementor-element.elementor-element-37a2419 {
        width: 26%;
    }

    .elementor-6 .elementor-element.elementor-element-c7ac234 {
        width: 40%;
    }

    .elementor-6 .elementor-element.elementor-element-7de09cb {
        width: 60%;
    }

    .elementor-6 .elementor-element.elementor-element-dd8ce65 {
        width: 100%;
    }

    .elementor-6 .elementor-element.elementor-element-54a4e28 {
        width: 100%;
    }
}